h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

body > * {
	font-size: 1.2rem; /* placed here instead of in body -> fix for Chrome bug */
}

body {
	background-color: #fff;
	font-family: 'Arial';
	color: #FFFFFF;
}

#wrapper {
  margin: 0 auto;
  min-width: 32rem;
  max-width: 96rem;
}

ul {
	list-style: none;
}

header {
  position: relative;
  float: left;
  background-color: #993D3D;
  width: 100%;
  margin-bottom: 2rem;
}

h1 a {
	color: #FFFFFF;
	position: relative;
	margin-bottom: 7rem;
    text-align: center;
}

h1 {
    text-align: center;
}

div label {
    margin-right: .3rem;
}

div input {
    float: center;
}

#smallTitle {
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 2rem;
}

#form {
	margin-top: 2rem;
}

div label {
	color: #FFFFFF;
	font-size: 1.5rem;
    margin-left: 1rem;
}

#transport {
    float: right;
    margin-right: 2rem;
}

div button {
	margin-right: 1rem;
	margin-top: 1rem;
}

#btnCalc {
    margin-right: -6rem;
}

input, select, button {
    border: none;
    text-decoration: none;
    box-shadow: 0 0 0 0.1em #FFFFFF;
    margin: .2em;
    padding: .2em;
    border-radius: .2em;
    font-size: 1em;
    margin-right: 1rem;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.2em;
}

.ui-widget-content {
    background: #F9F9F9;
    border: 1px solid #FFFFFF;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#success {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    background: #FFFFFF;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 2em;
}

#map, img {
    width: 100%;
    height: 24em;
}

#estimate {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #993D3D;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.result {
    font-size: 1.5rem;
}

.TIME {
    background-color: #FFFFFF;
}

div span {
    display: block;
}

#saved img {
    border: 1px solid #ccc;
}

div input {
    width: 25%;
}

div button {
    color: #FFFFFF;
    background-color: #993D3D;
    width: 25%;
    margin-right: 2rem;
    float: right;
    margin-bottom: 1rem;
}

#btnLog {
    margin-top: -2.3rem;
}

#btnSave {
    background-color: #993D3D;
    color: #FFFFFF;
}

.TIME > div > div > label {
    color: #993D3D;
    text-transform: uppercase;
}

.TIME > div > div > input {
    box-shadow: 0 0 0 0.1em #993D3D;
    margin-left: 2rem;
}

.TIME > div > button {
    padding: 0.5rem;
}

#btnSave {
    padding: 0.5rem;
}

@media only screen and (max-device-width: 56rem)  {
    #transport {
        margin-right: 0rem;
    }

    #btnLog {
        margin-top: 0rem;
    }

    #btnCalc {
        margin-right: 0rem;
    }
}