/* default font size is 16px; set html font size to 10px */
html {
  font-size: 62.5%; 
}

/* rest of your CSS; 1rem is now 10px */
body {
  font-size: 1.5rem; /* 15px  */
  padding: 1rem; /* 10px  */
  margin: 0 auto;
}

* {
  line-height: 2.4rem
}

#wrapper {
  min-width: 64rem;
  max-width: 96rem;
  margin:0 auto;
}

/*********************************************
 * CLEARFIX
 *********************************************/

.clearfix:after { 
  content: ""; 
  display: table; 
  clear: both; 
} 
.clearfix { 
  zoom: 1; 
}

/*********************************************
 * HEADER
 *********************************************/
header {
  height: 18rem;
  margin: 0 auto;
  font-size: 32px;
  font-family: Arial;
  position: relative;
}

header h1 a {
  position: absolute;
  color: #706041;
  text-decoration: none;
}

/* LOGO */
img#logo{
  margin: 0 auto;
  width: 7.5rem;
}

#mainmenu {
  background-color: #FFF;
  font: 12px Verdana, sans-serif; 
  width: 69.5rem;
  height: 2.4rem;
  position: absolute;
  margin-left: 65rem;
  margin-top: 4rem;
}

#mainmenu li {
  display: inline-block;
}

#mainmenu li a {
  color: #333;
  text-decoration: none;
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 0rem 2rem;
}

#mainmenu li a:hover {
  background-color: rgb(236,217,180);
}

#mainmenu li a:active {
  background-color: rgb(224,192,130);
}


#content {
  margin-top: 15rem;
  background-color: grey;
  float: right;
  text-align: center;
  position: relative;
  margin-left: 90rem;
  margin-right: 13rem;
}
/* ICON MENU GENERAL SECTION */

ul#iconmenu {
  float: right;
}
#iconmenu {
  margin: 0rem auto;
}
#iconmenu a:hover {
  border-radius: 3rem;
}

#iconmenu li {
  display: inline-block;
  list-style: none;
}

/* HOVER SECTION L&B=8.4rem */
#iconmenu a {
  width: 8.4rem;
  height: 8.4rem;
  display: inline-block;
  background-image: url(images/sprites.png);
  background-repeat: no-repeat;
}

#iconmenu .facebook { background-position: 0 0;}
#iconmenu .facebook:hover { background-position:  0 -8.4rem;}

#iconmenu .twitter { background-position: -67.2rem 0;}
#iconmenu .twitter:hover { background-position: -67.2rem -8.4rem; }

#iconmenu .googlePlus { background-position: -25.2rem 0;}
#iconmenu .googlePlus:hover { background-position: -25.2rem -8.4rem;}